.App {
  background-color: #fff;
  text-align: center;
  margin: 0;
  padding: 0px 50px;
  /* font-family: 'Oswald'*/
  font-family: 'Oswald', sans-serif;
}
.badge-primary{
    border-radius: 10px;
    color: white;
}
.background-primary{
  background-color: #ff4b44;
}
.primary-color{
  color: #ff4b44;
}
.secundary-color{
  color: black;
}
.fixture-title{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size:15px;
}